@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #212121;
  background-image: url("./assets/bg.svg");
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
}

.hero__heading {
  font-size: calc(5vw + 1rem);
  font-weight: 800;
  text-align: center;
  color: #b0bec5;
  font-family: "Fira Code", monospace;
  margin-bottom: 2rem;
}

.some {
  color: #82aaff;
  text-decoration: none;
}

.every {
  color: #f07178;
  text-decoration: none;
}

.comma {
  color: #616161;
}

.purple {
  color: #c792ea;
}

.red {
  color: #f07178;
}

.yellow {
  color: #ffcb6b;
}

.blue {
  color: #82aaff;
}

.hero__code {
  color: #b0bec5;
  font-family: "Fira Code", monospace;
  font-size: 1.25rem;
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

.content {
  padding: 1rem;
  background-color: #323232;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
}

.content__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 0 auto;
  gap: 1rem;
}

.content__card {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: all ease-out 0.2s;
}

.card__img {
  height: 10rem;
  object-fit: cover;
  object-position: top;
}

.card__content {
  padding: 0.5rem 1rem 1rem;
}

.card__title {
  font-size: 1.5rem;
  color: #b0bec5;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  transition: color ease-out 0.2s;
}

.card__title:hover {
  color: #82aaff;
}

.card__creator {
  display: block;
  color: #727272;
  font-family: "PT Sans", sans-serif;
  font-weight: 200;
  line-height: 2rem;
}

.card__creator a {
  color: #82aaff;
  text-decoration: none;
}

.card__detail {
  font-family: "PT Sans", sans-serif;
  display: block;
  color: #727272;
  margin-top: 1rem;
  font-size: 1.125rem;
}

.card__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.content__cards:hover .content__card {
  filter: brightness(0.8);
}

.content__card:hover {
  transform: translateY(-0.25rem);
  filter: brightness(1) !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.about {
  margin-bottom: 4rem;
}

.about__heading {
  font-size: calc(1vw + 1.25rem);
  font-weight: 800;
  text-align: center;
  color: #b0bec5;
  font-family: "Fira Code", monospace;
  margin-bottom: 2rem;
}

.about__desc {
  background-color: #323232;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 80ch;
  margin: 0 auto;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #b0bec5;
  font-family: "PT Sans", sans-serif;
}

.about__desc a {
  color: #82aaff;
}

.highlight {
  color: #f4f4f4;
}
